.Section{
    text-align: center;
    width: 30%;
    border-radius: 2rem;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px gray;
    margin: 0 auto;
}

.Sectionh{
    font-size: 32px;
}

.ButtonBox{
    display: flex;
    justify-content: center;
}

.Button1{
    padding: 10px;
    border: none;
    border-radius: 1rem;
    margin-right: 10px;
    background-color: #4c6c8c;
    transition: all 0.8s;
    color: white;
}
.Button1:hover{
    cursor: pointer;
    background-color: #2c3e50;
    transition: all 1.0s;
}

.Button2{
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    background-color: #4c6c8c;
    color: white;
}